body{
	margin: 0px;
}

.container {
	display: flex;
}

.column1{
	width: 65%;
	height: 100vh;
}

.fullSize{
	height: 100%;
	width: 100%;
}

.title{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
	color: #555555;
}
.column2{
	font-size:0.8em;
	font-family: 'Open Sans', sans-serif;
	color: #868686;
	width: 35%;
	padding: 0px 4em;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}


.textBox{
	width: 100%;
	margin: 1em 0px;
	padding: 0.5em 3px;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-style: outset;
	box-sizing: border-box;
	border:1px solid #D0D0D0;
	text-shadow: none;
}

.confirmBox{
	background-color: #28a745;
	color: #FFFFFF;
	cursor: pointer;
}

.confirmBox:hover{
	background-color: #009900; 
}

.confirmBox:active{
	border-color:  #28a745;
	background-color: #FFFFFF;
	color:  #28a745;
}
.loginBox{
	border-color:  #28a745;
	color:  #28a745;
	cursor: pointer;
}

.loginBox:hover{
	background-color: rgb(220,220,220);
}
.loginBox:active{
	background-color: #28a745;
	color: #FFFFFF;
}

.distant{
	margin-top: 2.5em;
	padding: 1em 0px;
}

.grayline{
	height: 5px;
	width: 100%;
	border-bottom: 1px solid #E0E0E0;
}